@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    box-sizing: border-box;
    
    
}

body{
    background-color: hsl(47, 88%, 63%);
    height: 100vh;
    color: hsl(0, 0%, 7%);
    font-size: 16px;
    font-family: figtree;

    
}
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
   
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow:10px 10px hsl(0, 0%, 7%);
    width: 23rem;
    width: min(90vw, 375px);
    padding: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}
.card>img{
    border-radius: 15px;
}
.main{
    color: hsl(0, 0%, 50%);
}
.name{
    display: inline-flex;
}
.name img{
    margin-right: 10px;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
 }
.attribution a {
     color: hsl(228, 45%, 44%); 
}
.learn, .pub, h2, .main{
    margin-bottom: 0px;
}
.learn{
    background-color: hsl(47, 88%, 63%);
    width: 100px;
    font-weight: 800;
    text-align: center;
    
}
.card p{
    font-weight: 500;
}
h2, .name>p {
    font-weight: 800;
}
h2:hover{
color: hsl(47, 88%, 63%);
}
